html
{
background-image: url(fon2.jpg);
background-repeat: repeat
}
h1{
font-family: Arial;
font-size: 24px;
font-weight: normal;
font-style: italic;
text-decoration: underline;
border: 1px solid;
outline: 1px solid;
padding: 10px;
background-color:aqua;
<style>
}